#tabbrowser-tab-tooltip {
    display: none;
}

.titlebar-spacer[type="pre-tabs"] {
    width: 15px !important;
}

#statuspanel {
    font-size: 115% !important;
    margin: 3px !important;
}

@media (prefers-color-scheme: dark) {
    #statuspanel-label {
        border-radius: 4px !important;
        background-color: #3d3d3d !important;
    }
}

.titlebar-spacer[type="post-tabs"] {
    width: 5px !important;
}
