* {
  border: none;
  border-radius: 0;
  font-family: 'Cantarell', 'Symbols Nerd Font', sans-serif;
  font-size: 10pt;
  min-height: 0;
}

window#waybar {
  background: #1d1f21;
  color: white;
}

tooltip {
  background: #1d1f21;
  border: 1px solid #327bd1;
}

tooltip label {
  color: white;
}

#workspaces button {
  padding: 0 5px;
  background: #1d1f21;
  color: white;
}

#workspaces button.focused {
  background: #1e497d;
}

#workspaces button.active {
  background: #1e497d;
}

#pulseaudio {
  padding-right: 10px;
}

#clock {
  padding-right: 10px;
}

#tray {
  padding-right: 10px;
}
