@font-face {
    font-family: Consolas;
    src: local("monospace");
}

@font-face {
    font-family: Courier;
    src: local("monospace");
}

@font-face {
    font-family: "Courier New";
    src: local("monospace");
}

@font-face {
    font-family: "Lucida Console";
    src: local("monospace");
}

@font-face {
    font-family: "Lucida Sans Typewriter";
    src: local("monospace");
}

@font-face {
    font-family: "Segoe UI";
    src: local("sans-serif");
}

#tabbrowser-tab-tooltip {
    display: none;
}

.tabbrowser-tab {
    font-size: 85%;
}

#urlbar-input-container {
    font-size: 95%;
}

.titlebar-spacer[type="post-tabs"] {
    width: 5px !important;
}

#statuspanel {
    margin: 3px !important;
}

@media (prefers-color-scheme: dark) {
    #statuspanel-label {
        border-radius: 4px !important;
        background-color: #3d3d3d !important;
    }
}
