@font-face {
    font-family: Consolas;
    src: local("monospace");
}

@font-face {
    font-family: Courier;
    src: local("monospace");
}

@font-face {
    font-family: "Courier New";
    src: local("monospace");
}

@font-face {
    font-family: "Lucida Console";
    src: local("monospace");
}

@font-face {
    font-family: "Lucida Sans Typewriter";
    src: local("monospace");
}

@font-face {
    font-family: "Segoe UI";
    src: local("sans-serif");
}

/*
@-moz-document regexp(".*") {
    @media (prefers-color-scheme: dark) {
        ::-moz-selection {
            background-color: #0f7bff !important;
            color: #fff !important;
        }
    }
}
*/

@-moz-document domain("shellcheck.net") {
    #terminal {
        font-family: monospace !important;
    }
}

@-moz-document domain("adobe-consulting-services.github.io") {
    .code-block, pre code {
        font-family: monospace !important;
    }
}

@-moz-document domain("w3schools.com") {
    .w3-code, .w3-codespan {
        font-family: monospace !important;
    }
}
