<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Activate Right Zoom</key>
	<true/>
	<key>Applications</key>
	<array>
		<string>Finder</string>
		<string>Safari</string>
		<string>Google Chrome</string>
		<string>Firefox</string>
		<string>Microsoft Outlook</string>
	</array>
	<key>Enable Maximize hotkey</key>
	<true/>
	<key>Enable Zoom button in all applications</key>
	<false/>
	<key>Exceptions</key>
	<array>
		<string>Terminal</string>
		<string>iTunes</string>
		<string>Adobe Reader</string>
		<string>Photoshop</string>
		<string>Fireworks</string>
		<string>Acrobat</string>
		<string>Illustrator</string>
		<string>InDesign</string>
	</array>
	<key>First launch</key>
	<false/>
	<key>Hotkey</key>
	<string>M</string>
	<key>Modifier</key>
	<string>Alt (Option)</string>
	<key>Use hotkey only (not Zoom button)</key>
	<false/>
	<key>Zoom with Option key only</key>
	<false/>
	<key>with Command</key>
	<true/>
	<key>with Ctrl</key>
	<false/>
	<key>with Option</key>
	<true/>
	<key>with Shift</key>
	<false/>
</dict>
</plist>
